<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <svg class="mr-2" fill="none" height="20" stroke="currentColor" stroke-linecap="round"
           stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
        <circle cx="12" cy="13" r="4"></circle>
      </svg>
      <strong>Album</strong>
    </a>
    <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarHeader" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>

  <!--  <div class="footer">-->
  <!--    <div class="container">-->
  <!--      <footer id="footer" class="py-4 bg-dark text-white-50">-->
  <!--        <div class="container text-center">-->
  <!--          <small>Copyright &copy; BorderBOT 2019</small>-->
  <!--        </div>-->
  <!--      </footer>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
