<div class="container">
  <div class="header">
    <mat-form-field class="example-form-field">
      <input [(ngModel)]="filterValue" matInput placeholder="Search for a border" type="text">
      <button (click)="filterValue=''" *ngIf="filterValue" aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <app-border-list [filter]="filterValue"></app-border-list>
  <!--    <router-outlet></router-outlet>-->
  <footer>BorderBOT</footer>
</div>
