/* You can add global styles to this file, and also import other style files */

html, body {
  //height: 100vh;
}

body {
  background: #8e9eab;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav-bar nav-bar nav-bar nav-bar" "content content content content" "content content content content" "footer  footer  footer  footer"
}

.container .nav-bar {
  grid-area: nav-bar;
  margin: auto;
}

.container .content {
  display: grid;
  grid-area: content;
  margin: auto;
}

.container .footer {
  grid-area: footer;
  margin: auto;
}
