/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: lightgrey;
}

.container {
  height: 100vh;
  margin: 0 20px;

  /* Grid */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 50px;
  grid-template-areas: "border-list" "footer";
}


.header {
  grid-area: header;
  //margin-top: 20px;
  //
  ///* FlexBox */
  //display: flex;
  //align-content: flex-start;
  //justify-content: center;
}

app-border-list {
  grid-area: border-list;

  /* FlexBox */
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

footer {
  grid-area: footer;
  justify-self: center;
}

