/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  margin: 0;

  /* Grid */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto 75px;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
}


footer {
  grid-area: footer;
}
