<div *ngIf="(visibleBorders)?.length > 0" class="input-group input-group-md my-4 col-sm-6 mx-auto">
  <input [(ngModel)]="filterBorder" aria-describedby="inputGroup-sizing-lg" aria-label="Sizing example input"
         class="form-control" name="filterBorder" placeholder="Search" type="text">
  <div class="input-group-append">
    <span class="input-group-text" id="inputGroup-sizing-sm"><mat-icon>search</mat-icon></span>
  </div>
</div>

<div class="row justify-content-center">
  <mat-spinner *ngIf="(visibleBorders)?.length < 1" [color]="'accent'" class="mt-2 mx-auto text-center"></mat-spinner>

  <app-border-card *ngFor="let border of visibleBorders | borderSearch:filterBorder" [border]="border"
                   class="col-sm-4 col-xl-2 py-2"></app-border-card>
</div>
